.envrc
.idea/
.turbo/
.vscode/
.DS_Store
devel/data/
devel/perso/
devel/testdata/
pybackend/data
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
data/debugstore
data/reddit_sessions
ai/testdata
frontend/packages/build/*
frontend/portal/public/templates/*

frontend/extension/chrome/loadlogic-chrome-extension.zip
frontend/extension/chrome/loadlogic-chrome-extension.*.zip
backend/cmd/coasterai/coasterai
backend/cmd/coasterai/coasterai/*
redora-infra/.terraform
.run/
backend/cmd/coasterai/.coasterai
*.mp4
#coasterai
redora

.gocache/

**/remotion-ui/
**/generated/
**/prompt_generator/prompts/
.gomodcache/
video.json
